<html>
  <head>
    <title>Meltsy - Helping Etsy sellers streamline their business</title>
  </head>
  <body>
    <h1>Meltsy</h1>

    <p>Choose an option below:</p>

    <ul>
      <li><a href="/connect/etsy">Connect to your Etsy account</a></li>
      <li><a href="/etsy/item-list">View unshipped items</a></li>
    </ul>

    <p>@WIP - What next?</p>
  </body>
</html>
