<html>
  <head>
    <title>Meltsy - Success you're connected!</title>
  </head>
  <body>
    <h1>Meltsy</h1>

    <p>Boom, you're in and ready to roll!</p>
    <p>Your access token: {{token}}<br />
    Your secret (sshhh): {{secret}}</p>

    <p>Choose an option below:</p>

    <ul>
      <li><a href="/etsy/unshipped-items">View unshipped items</a></li>
    </ul>

    <p>@WIP - What next?</p>
  </body>
</html>
